{% extends 'base.html' %}


{% block form %}

<form method="post" id="submitForm">
  <!-- Security feature prevents cross-site request forgery attacks -->
  {% csrf_token %}
    <fieldset>
      <legend>Car Details</legend>
      <div class="row">
      
        <div class="col-md-6">
          <!-- <div>
            <label for="exampleSelect1" class="form-label mt-4">Example select</label>
            <select class="form-select" name="exampleSelect1" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div> -->
          <div>
            <label class="col-form-label mt-4" for="inputDefault">manufacturer</label>
            <input type="text" class="form-control" placeholder="BMW" name="manufacturer" id="manufacturer">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">model</label>
            <input type="text" class="form-control" placeholder="" name="model" id="model">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">product year</label>
            <input type="text" class="form-control" placeholder="" name="prod_year" id="prod_year">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">category</label>
            <input type="text" class="form-control" placeholder="" name="category" id="category">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Fuel Type</label>
            <input type="text" class="form-control" placeholder="" name="fuel_type" id="fuel_type">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Engine Volume</label>
            <input type="text" class="form-control" placeholder="" name="engine_volume" id="engine_volume">
          </div>
          <legend class="mt-4">Extras</legend>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" name="flexCheckDefault" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              leather interior
            </label>
          </div>
        </div>

        <div class="col-md-6 mt-2">
          <div>
            <label for="exampleSelect1" class="form-label mt-4">Cylinders</label>
            <select class="form-select" name="cylinders" id="cylinders">
              <option value="4">4.0</option>
              <option value="6">6.0</option>
            </select>
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Mileage</label>
            <input type="text" class="form-control" placeholder="" name="mileage" id="mileage">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Gear Box Type</label>
            <input type="text" class="form-control" placeholder="" name="gear_box_type" id="gear_box_type">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Color</label>
            <input type="text" class="form-control" placeholder="" name="color" id="color">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Drive Wheels</label>
            <input type="text" class="form-control" placeholder="" name="drive_wheels" id="drive_wheels">
          </div>
          <div>
            <label class="col-form-label mt-4" for="inputDefault">Airbags</label>
            <input type="text" class="form-control" placeholder="" name="airbags" id="airbags">
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </div>
    </fieldset>
</form>

{% endblock form %}

{% block sidebar %}
  {% include "components/sidebar.html" %}
{% endblock sidebar %}

{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const element = document.getElementById("submitForm")

    element.addEventListener("submit", function(e) {
      e.preventDefault()
      // code


        const form = new FormData(e.currentTarget)
        const data = {}

        form.forEach((val, key) => {
            data[key] = val
        })

        fetch('/submit', {
            method: 'POST', // Specify the method
            headers: {
                'Content-Type': 'application/json', // Specify the content type as JSON
            },
            body: JSON.stringify(data) // Convert the JavaScript object to a JSON string
        })
            .then(response => {
                if (!response.ok) {
                    // If the server response is not ok, throw an error
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Parse the JSON response
            })
            .then(response => {
                const responseElement = document.getElementById("response-text")
                responseElement.innerText = response.price
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    })
  })
</script>
{% endblock scripts%}